:root {
  --text: #1a1a1a;
  --bg: #ffffff;

  font: 18px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f0f0f0;
    --bg: #121212;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100dvh;
}
